#CPopper {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 10%;
}

#PopDown {
  position: absolute;
  right: 50px;
  bottom: 50px;
}

#PopUp {
  position: absolute;
  right: 50px;
  bottom: 250px;
}

#MiniCal {
  margin: auto;
  padding: 0 5%;
}
